<template>
    <div>
        <h1>job</h1>

        <p v-model="jobId"></p>
        <p v-if="jobId">{{jobId}}</p>
        <p v-else><em>0</em></p>
        <h4>{{job.title}}</h4>
        <h4>Company :
            <a :href="job.company.url" class="company">{{job.company.name}}</a></h4>
        <strong v-if="job.type == 0" class="fulltime">Full Time</strong>
        <strong v-else="" class="fulltime">Part Time</strong><br>
        <h4>Location
            <span>{{job.company.location}}</span></h4>
        <h5>Date
            <span>{{job.createdAt}}</span></h5>

        <h3>Description</h3>
        <div style="margin: 15px" v-html='job.description'></div>

    </div>

</template>
<script src="./job.ts"></script>
