<template>
    <div>
        <h1>jobs</h1>
        <input v-model="title" placeholder="title">
        <input v-model="description" placeholder="description">
        <button @click="search">search</button>

        <table v-if="jobs.length" class="table">
            <thead>

            </thead>
            <tbody>
            <tr v-for="item in jobs">
                <td class="title">

                    <router-link :to="'/job/'+ item.id">
                        <h3>{{item.title}}</h3>
                    </router-link>
                    <p class="source">
                        <a :href="item.company.url" class="company">{{item.company.name}}</a>
                        <strong v-if="item.type == 0" class="fulltime">Full Time</strong>
                        <strong v-else="" class="fulltime">Part Time</strong><br>
                    </p>
                <td class="title">
                </td>

                <td class="meta">
                    <span>{{item.company.location}}</span><br>
                    <span>{{item.createdAt}}</span>
                </td>
            </tr>

            </tbody>
        </table>
        <p v-else><em>Loading...</em></p>
    </div>
</template>
<script src="./jobs.ts"></script>
