<template>
    <div>
        <h1>jobs</h1>
        <p>This component demonstrates jobs from the server.</p>
        <input  v-model="title" placeholder="title">
        <input  v-model="description" placeholder="description">
        <button @click="search">search</button>

        <table v-if="jobs.length" class="table">
            <thead>
                <tr>
                    <th>title</th>
                    <th>type</th>
                    <th>description</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in jobs">
                    <td>{{ item.title }}</td>
                    <td>{{ item.type }}</td>
                    <td>{{ item.description }}</td>
                </tr>
            </tbody>
        </table>
        <p v-else><em>Loading...</em></p>
    </div>
</template>
<script src="./jobs.ts"></script>
